body {
  background: #fafafa;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.conteudoLateralDireita,
.conteudoLateralEsquerda,
.conteudoCentral {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudoLateralEsquerda {
  display: flex;
  width:28vw;
  background: white;
  line-height: 20px;
}

.conteudoLateralDireita {
  background: #fafafa;
  width:52vw;
}

.conteudoCentral {
  background: #fafafa;
}

